includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - database/
        - tests/

    excludePaths:
        - tests/Pest.php

    # Level 10 is the highest level
    level: 10

    # Ignore errors
    ignoreErrors:
        -
            messages:
                - '#Parameter.*expects.*mixed given#'
                - '#Cannot access offset.*on mixed#'
            paths:
                - app/Services/*ApiService.php
